@page

<div>
    <form id="submitForm">
        <input type="text" id="usernameField" placeholder="Your username" />
        <input type="text" id="messageField" placeholder="Your message" />
        <input type="submit" id="submitButton" value="Send" />
    </form>
    <ul id="conversation"></ul>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
    
    document.getElementById("usernameField").focus();

    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    connection.on("ReceiveMessage", function (username, message) {
        var li = document.createElement("li");
        li.innerHTML = "<b>" + username + "</b>: " + message;
        document.getElementById("conversation").appendChild(li);
    });

    connection.start().then(function (res) {
        return console.log(res);
    }).catch(function (err) {
        return console.error(err.toString());
    });

    function sendMessage(event) {
        var usernameField = document.getElementById("usernameField");
        var messageField = document.getElementById("messageField");
        
        connection.invoke("SendMessage", usernameField.value, messageField.value)
            .catch(function (err) {
                return console.error(err.toString());
            });
            
        usernameField.disabled = true;
        messageField.value = "";
        messageField.focus();
        event.preventDefault();
    }

    document.getElementById("submitForm").addEventListener("submit", sendMessage);
    document.getElementById("submitButton").addEventListener("click", sendMessage);
</script>